<footer class="flex-col footer">

    <section class="main-footer flex-col">

        <div class="footer-contacto footer_item flex-row">
            <p>Contactos</p>
            <i class="fas fa-chevron-down" class="footer-icono-menu-flecha"></i>
            <div class="lista-footer">
                <ul>
                    <li>culmen@gmail.com</li>
                </ul>
            </div>
        </div>

        <div class="footer-categorias footer_item flex-row">
            <p>Categorias</p>
            <i class="fas fa-chevron-down" class="footer-icono-menu-flecha"></i>
            <div class="lista-footer">
                <ul>
                    <li>Hombres</li>
                    <li>Mujeres</li>
                    <li>Niños</li>
                    <li>Accesorios</li>
                </ul>
            </div>
        </div>

        <div class="footer-ayuda footer_item flex-row">
            <p>Ayuda</p>
            <i class="fas fa-chevron-down" class="footer-icono-flecha"></i>
            <div class="lista-footer">
                <ul>
                    <li>FAQ</li>
                    <li>Medios de Pago</li>
                    <li>Politica de Cambio</li>
                    <li>Envio</li>
                </ul>
            </div>
        </div>

    </section>

    <section class="modos-pago">
            <img src="/image/tarjeta-visa.png" alt="Visa"  class="footer-icono-tarjetas">
            <img src="/image/tarjeta-mastercard.png" alt="Mastercard"  class="footer-icono-tarjetas">
            <img src="/image/tarjeta-americanexpress.png" alt="American Express" class="footer-icono-tarjetas">
            <img src="/image/paypal.png" alt="Paypal"  class="footer-icono-tarjetas">
            <img src="/image/banelco.png" alt="Banelco"  class="footer-icono-tarjetas">
            <img src="/image/naranja.png" alt="Naranja"  class="footer-icono-tarjetas">
            <img src="/image/mercadopago.png" alt="Mercado Pago"  class="footer-icono-tarjetas">
            <img src="/image/rapipago.png" alt="Rapipago"  class="footer-icono-tarjetas">
    </section>
    
    <section class="redes-sociales">

            <div class="iconos-red-social">
                <i class="fab fa-facebook-f"></i>
            </div>
            <div class="iconos-red-social">
                <i class="fab fa-instagram"></i>
            </div>
            <div class="iconos-red-social">
                <i class="fab fa-twitter"></i>
            </div>

    </section>

    <div class="copyright">
        <i class="far fa-copyright"></i>
        <p>Todos los derechos reservados al grupo Culmen</p>
    </div>
</footer>