@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@300;400;700 & display=swap');


* {
    box-sizing: border-box  ;
    margin: 0;
    padding: 0;
}

/*  SECCION HEADER HOME */
.nav-bar{
    width: 30%;
    justify-content: space-around;
    gap: 30px;
}

.buscador_home{
    display: none;
}

.header_container_items{
    display: none;
}

.logo {
    width: 50px;
}

.menu-hamburgesa-boton {
    color: var(--op2-color-gris-claro);
}

.buscador {
    color: var(--op2-color-gris-claro);
}

main{
    background-color: whitesmoke;
    
}

main h2 {
    text-align: center;
/*     margin: 15px 0;
 */
    padding: 15px;
}



.contenedor {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contenedor-nombreProdu {
    width: 100%;
    text-align: center;
    margin: 10px;
}

.nombreProducto {
    width: 30%;
}

.contenedor-descripcion {
    width: 100%;
    text-align: center;
    margin: 10px;
}

.descripcion {
    width: 50%;
}

.contenedor-img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin: 10px;
}

.contenedor-img label{
    width: 100%;
}

.contenedor-categorias {
    width: 100%;
    text-align: center;
    margin: 10px;
}

.categorias {

}

.contenedor-prendas {
   /* display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;*/
    width: 100%;
    text-align: center;
    margin: 10px;
}

.prendas {
   text-align: center;
    margin: 10px;
}

.contenedor-talles {
    width: 100%;
    text-align: center;
    margin: 10px;
}

.talles {
    text-align: center;
    margin: 10px;
}

.contenedor-precio {
    width: 100%;
    text-align: center;
    margin: 10px;
}

.contenedor-btn{
    width: 100%;
    text-align: center;
    margin: 10px;
}

.btn-crear{
    width: 25%;
    margin: 10px;
    background-color: #39b54a;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.btn-crear:hover{
    
    box-shadow: 0px 0px 10px rgb(100 100 100);
    background-color: #1b8629;
}

.inputstyle{
    background-color: white;
    border: solid #8cbc84 1px;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 6px;
    padding: 8px 10px;
    
    /*margin: 3px;
    padding-left: 5px ;
    */
    
}

.img {
    border: solid #8cbc84 1px;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 6px;
    padding: 18px 18px 18px;
    
}

/*   FOOTER MOBILE FIRST HOME  */

.footer{
    background-color: var(--op2-color-bg-blue-oscuro);
    color: var(--op2-color-gris-claro);
    height: 90vh;
    justify-content: space-between;

}

.main-footer {
    color: var(--op2-color-gris-claro);
    width: 100%;
    justify-content: space-around;
    text-transform: uppercase;
}

.footer_item { 
    border-bottom: 1px solid #ebebeb;
    padding: 15px;
    justify-content: space-between;
}

.lista-footer{
    display: none;
}

/* FOOTER IMAGENES TARJETAS */

.modos-pago {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    align-self: center;
}

.footer-icono-tarjetas {
    margin: 5px;
    width: 40px;
    height: 25px;
}

/*  FOOTER REDES SOCIALES  */
.redes-sociales {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.iconos-red-social {
    margin: 5px;
    font-size: 25px;
    transition: all 0.3s ease 0s;;
}

.iconos-red-social:hover{
    cursor: pointer;
    color: var(--op2-color-primary-green);
    transform: translateY(-7px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

/* FOOTER COPYRIGHT  */
.copyright p{
    text-align: center;
    font-size: 12px;

}

/* TABLET */ /* podria ir de 600 a 900px  */
@media (min-width: 481px ) {

    .logo{
        width: 80px;
    }

    .icon_header, .hamburg{
        font-size: 20px;
    }

    .lista-footer{
        display: none;
    }
    
    
    .modos-pago{
        width: 45%;
    }
    .footer-icono-tarjetas{
        width: 50px;
        height: 32px;
    
    }
    
    .copyright{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
         
    }

}

/* DESKTOP MQ  */ /* de 900 en adelante podria ir */
@media (min-width:769px) {
    main{
        margin-top: 0;
       }

    footer .flex-col{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        /*justify-content: center;*/
    }
       
    .header-header{
        height: 14vh;
    }
    .contenedor-hamburgesa{
        display: none;
    }

    .logo{
        width: 160px;
    }
    .buscador_home{
        display: block;
        border: none;
        border: var(--op2-color-gris-oscuro);
        outline: none;
        padding: 10px;
        border-radius: 15px;
        color: var(--op2-color-gris-oscuro);
        font-family: var(--op1-font-type);
        margin-right: 20px;
    }


    .contenedor-buscador{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;
    } 

    .header_container_items{
        display: block;
        margin-top: 13vh;
        background-color: var(--op2-color-primary-green);
        color: var(--op2-color-gris-claro)
    }

    .header_container_items ul{
        display: flex;
        padding: 10px;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 5px;

    }

    .header_container_items ul li{
        font-weight: bold;
        list-style-type: none;
    }

    .footer{
        width: 100%;
    }

    .main-footer{
        margin-top: 15px;
        border-bottom: solid 1px #e1e6e1;
    }

    .lista-footer{
        display: block;
    }

    footer ul li{
        list-style: none;
    }

    .footer_item{
        border: none;
        display: flex;
        flex-direction: column;
        width: 33%;
    }

    .lista-footer{
        font-size: 10px;
    }

    .lista-footer ul li{
        margin: 10px 0;
        text-transform: none;
    }

    .footer_item i{ 
        display: none;
    }
  

    .modos-pago {
        /*display: flex;
        flex-wrap: wrap;*/
        width: 100%;
        align-self: center;
        justify-content: center;
    }

    .redes-sociales {
        display: flex;
        justify-content: center;
        gap: 20px;
        width: 100%;
    }

    /*.copyright{
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
       width: 100%;
    
    }*/

    .copyright p{
        text-align: center;
        font-size: 8px;
    
    }

    .main h2{
    padding: 15px;
    margin: 0;
    }

}




