
:root{

    /*  PALETA DE COLORES: OPCION RED  */
        --op1-color-primary-rojo: #f93943; 
        --op1-color-secondary-rojo: #d1495b ;
        --op1-color-bg-negro: #1a1423;
        --op1-color-gris-oscuro: #65655e;
        --op1-color-gris-claro: #e1e6e1; 
    
    /* PALETA DE COLORES: OPCION GREEN */
        --op2-color-primary-green: #4daa57; 
        --op2-color-secondary-ligthblue: #1e96fc; 
        --op2-color-bg-blue-oscuro: #0b0033; 
        --op2-color-gris-oscuro: #616163;  
        --op2-color-gris-claro: #e1e6e1; 
        
    
    /* TIPOGRAFIA PROPUESTA */
        --op1-font-type: 'Roboto', sans-serif;
        /* @import url('https://fonts.googleapis.com/css2? family= Roboto:wght@300;400;700 & display=swap'); */ 
        --op2-font-type: 'Lato', sans-serif;
        /* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap')*/   
    }
    

*{
    box-sizing: border-box;
    margin: 0;
}

/*  SECCION HEADER HOME */
.nav-bar{
    width: 30%;
    justify-content: space-around;
    gap: 30px;
}

.buscador_home{
    display: none;
}

.header_container_items{
    display: none;
}

.logo {
    width: 50px;
}

.menu-hamburgesa-boton {
    color: var(--op2-color-gris-claro);
}

.buscador {
    color: var(--op2-color-gris-claro);
}

body {
    font-family: 'Overpass', sans-serif;
    font-weight: normal;
    color: #1a1423;
    background-color: #4daa57;
}
/* END DEL HEADER */

/*   FOOTER MOBILE FIRST HOME  */

.footer{
    background-color: var(--op2-color-bg-blue-oscuro);
    color: var(--op2-color-gris-claro);
    height: 90vh;
    justify-content: space-between;

}

.main-footer {
    color: var(--op2-color-gris-claro);
    width: 100%;
    justify-content: space-around;
    text-transform: uppercase;
}

.footer_item { 
    border-bottom: 1px solid #ebebeb;
    padding: 15px;
    justify-content: space-between;
}

.lista-footer{
    display: none;
}

/* FOOTER IMAGENES TARJETAS */

.modos-pago {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    align-self: center;
}

.footer-icono-tarjetas {
    margin: 5px;
    width: 40px;
    height: 25px;
}

/*  FOOTER REDES SOCIALES  */
.redes-sociales {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.iconos-red-social {
    margin: 5px;
    font-size: 25px;
    transition: all 0.3s ease 0s;;
}

.iconos-red-social:hover{
    cursor: pointer;
    color: var(--op2-color-primary-green);
    transform: translateY(-7px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

/* FOOTER COPYRIGHT  */
.copyright p{
    text-align: center;
    font-size: 12px;

}

.errors{
    color: red;
    font-style: italic;
}

.isInvalid{
    border: solid red 1px !important;
}
/* end FOOTER  */


.img_profile{
    width: auto;
    height: 200px;
    padding: 20px;
}

.section_profile_user{
    border: solid;
    margin: 30px;
    height: 65vh;
    display: flex;
}

.profileUser{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}











/*  TABLETS */
@media (min-width: 481px){

    .logo{
        width: 80px;
    }

    .icon_header, .hamburg{
        font-size: 20px;
    }

    .login_form_container, .register_form_container {
        padding-left: 80px;
        padding-right: 80px;
    }

    .lista-footer{
        display: none;
    }
    
    
        .modos-pago{
            width: 45%;
        }
        .footer-icono-tarjetas{
            width: 50px;
            height: 32px;
    
        }
    
        .copyright{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 100%;
         
         }

}
/* end tablets */

/*  DESKTOP */

@media (min-width: 769px){

    .header-header{
        height: 14vh;
    }
    .contenedor-hamburgesa{
        display: none;
    }

    .logo{
        width: 160px;
    }
    .buscador_home{
        display: block;
        border: none;
        border: var(--op2-color-gris-oscuro);
        outline: none;
        padding: 10px;
        border-radius: 15px;
        color: var(--op2-color-gris-oscuro);
        font-family: var(--op1-font-type);
        margin-right: 20px;
    }


    .contenedor-buscador{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;
    } 
    
    
    .header_container_items{
        display: block;
        margin-top: 14vh;
        background-color: var(--op2-color-primary-green);
        color: var(--op2-color-gris-claro)
    }

    .header_container_items ul{
        display: flex;
        padding: 10px;
        justify-content: space-evenly;
        align-items: center;
        border-top: solid .5px var(--op2-color-gris-claro);
        margin-top: 5px;

    }

    .header_container_items ul li{
        font-weight: bold;
        list-style-type: none;
    }

    main{
        display: flex;
        margin-top: 0vh;
    }

    footer .flex-col{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .footer{
        width: 100%;
    }

    .main-footer{
        margin-top: 15px;
        border-bottom: solid 1px #e1e6e1;
    }

    .lista-footer{
        display: block;
    }

    footer ul li{
        list-style: none;
    }

    .footer_item{
        border: none;
        display: flex;
        flex-direction: column;
        width: 33%;
    }

    .lista-footer{
        font-size: 10px;
    }

    .lista-footer ul li{
        margin: 10px 0;
        text-transform: none;
    }

    .footer_item i{ 
        display: none;
    }

    .modos-pago {
        width: 100%;
        align-self: center;
        justify-content: center;
    }

    .redes-sociales {
        display: flex;
        justify-content: center;
        gap: 20px;
        width: 100%;
    }

    .copyright p{
        text-align: center;
        font-size: 8px;
    
    }

}
/* end desktop */
